*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    position: relative;
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    position: relative;
    height: inherit;
    width: 100%;
    background: lightgrey;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}