// COLOURS
$base-font-color: rgb(46, 46, 46);
$base-font-color--alternate:rgb(119, 33, 33);
$base-font-color--dark: rgb(104, 104, 104);
$base-font-color--inactive: rgba(182, 182, 182, 0.801);
$component-background-color: rgba(255, 255, 255, 0.918);
$text-dark-grey-color: rgb(68, 68, 68);
$msg-background-color: rgb(248, 248, 248);
$msg-text-color--ok: rgb(0, 18, 180);
$msg-text-color--err: rgb(204, 28, 28);
$btn-close-color: rgb(119, 33, 33);
$btn-complete-color: rgb(101, 153, 42);

// HEIGHTS
$header-height--m: 8rem;
$todolist-form-height: 9rem;
$todolist-controls-height--m: 6rem;
$todolist-item-height--m: 8rem;
$todolist-input-height: 3rem;

// WIDTHS
$todolist-width--m: 55rem;
$tdl-input-width: 70%;

// PADDING
$page-padding--m: 3rem;
$todolist-form-padding--v: 2rem;
$todolist-padding--h: 3rem;
$todolist-padding: 1rem;

// MARGINS
$todolist-margin: 2rem;

// BORDERS
$thin-light-border: 1px solid rgba(233, 229, 229, 0.678);
$thin-dark-border: 1px solid rgba(175, 172, 172, 0.651);


// FONTS
$greeting-font-size--l: 2.8rem;
$todolist-font-size--m: 1.6rem;
$todolist-font-size--s: 1.4rem;

// ICONS
$todolist-icon-size--m: 2.4rem;
$todolist-icon-size--nav: 2rem;
$modal-icon-size--m: 2.6rem;

