// COLOURS
$base-font-color: #fff;
$component-background-color: rgba(51,51,51,.4);
$text-dark-grey-color: rgb(68, 68, 68);

// HEIGHTS
$header-height--m: 8rem;

// WIDTHS
$todolist-width--m: 50rem;

// PADDING
$page-padding--m: 1rem;
$todolist-padding--v: 2rem;

// MARGINS

// BORDERS
$thin-light-border: 1px solid rgba(255,255,255, .1);

// FONTS
$greeting-font-size--m: 2.3rem;
$todolist-font-size--m: 1.6rem;

// ICONS
$todolist-icon-size--m: 3rem;

