.greeting {
    display: inline-flex;
    align-items: center;
    height: $header-height--m;
    font-size: $greeting-font-size--l;
    font-weight: 600;
    // color: $base-font-color--dark;
    color: $base-font-color--alternate;
}