.greeting {
    display: inline-flex;
    align-items: center;
    height: $header-height--m;
    padding: .75rem 2rem;
    border: 1px solid rgba(255,255,255, .1);
    background-color: $component-background-color;
    font-size: $greeting-font-size--m;
    color: $base-font-color;
}