.modal__submit {
    border: $thin-dark-border;
    background: rgba(230, 230, 230, 0.877);
    border-radius: 3px;
    color: $text-dark-grey-color;
}

.edit-modal {  
    &__control {
        &:nth-last-child(2) {
            flex-grow: 1;
        }
    }
}

.details-modal {
    &__control {
        &:last-child {
            flex-grow: 1;
        }
    }
}

.details-modal, .edit-modal {
    position: absolute;
    display: flex;

    width: 100%;
    height: 100%;

    background: rgb(255, 255, 255);

    z-index: 100;

    padding: $todolist-form-padding--v 2rem;


    & * {
        // border: 1px solid red;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 1;
        height: 100%;

        padding: 2rem 1rem;
    }

    &__control {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__icon {
        width: $modal-icon-size--m;
        height: $modal-icon-size--m;
        cursor: pointer;

        &--close {
            margin-left: 2rem;
        }
    }

    &__label{
        // 1.6rem font-size + .5 padding matches &__value 
        padding: .5rem;
    }

    &__value, &__input {
        display: flex;
        align-items: center;

        flex-basis: $tdl-input-width;

        padding: .5rem .8rem;
        
        font-size: 1.6rem;
        border: $thin-dark-border;

        &--content, &--textarea {
            height: 100%;
        }

        &--textarea {
            text-align: start;
            resize: none;
        }
    }

    &__value {
        &--content {
            align-items: flex-start;
        }
    }


    &__submit {
        align-self: flex-end;

        margin-top: 1rem;
        padding: 1rem 2.2rem;

    }
}

.login-modal {
    display: flex;

    & * {
        // border: 1px solid red;
    }

    flex-direction: column;
    align-items: space-around;

    background: white;
    border-radius: .5rem;
    padding: 3rem 3rem;

    &-background {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: calc(100% - #{$header-height--m});
        bottom: 0;

        background: rgba(0, 0, 0, 0.74);
    }

    &__label{
        margin-right: 1rem;
    }

    &__item-wrapper {
        display: flex;
        justify-content: space-between;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__submit-btn {
        padding: 1rem;
    }
}