.todolist {
    position: relative;
    display: flex;
    flex-direction: column;


    height: 70vh;
    width: $todolist-width--m;
    margin: $todolist-margin;
    
    color: $base-font-color;
    font-size: $todolist-font-size--m;
    
    border: $thin-light-border;
    background: $component-background-color;

    ////////// TDL FORM //////////
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: $thin-light-border;
        padding: $todolist-form-padding--v $todolist-padding--h;
    }

    &__form-control {
        display: flex;
        flex-direction: column;
        flex-basis: $tdl-input-width;
    }
    
    &__submit {
        padding: 1rem 2.5rem;
        border: rgba(255,255,255, .1);
        background: rgba(255,255,255, 1);
        border-radius: 3px;
        font-size: 1.2rem;
        color: $text-dark-grey-color;
    }
    
    &__title-label {
        padding: .5rem 0;
    }
    
    &__title-input {
        height: 3rem;
        padding: 0 1rem;
        font-size: 1.4rem;
    }

    ////////// TDL ITEMS //////////
    &__items {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__item {
        display: flex;
        height: $todolist-item-height--m;
        border-bottom: $thin-light-border;
        padding: 0 $todolist-padding--h;

        &--end-element {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            color: $base-font-color--dark;
        }
    }

    // 3 main siblings of an item:
    &__bulletpoint-wrapper {
        display: flex;
        align-items: center;
    }

    &__item-heading {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }

    &__buttons-wrapper {
        display: flex;
        align-items: center;
    }

    &__icon {
        fill: $base-font-color;
        height: $todolist-icon-size--m;
        width: $todolist-icon-size--m;
        margin-right: .5rem;
        cursor: pointer;

        &--edit, &--complete, &--close {
            &:hover {
                transform: scale(1.10);
            }
        }

        &--edit {

        }

        &--complete {
            fill: $btn-complete-color;
        }

        &--close {
            fill: $btn-close-color;
        }

        &--bulletpoint {
            // bullet point size reduced to match other icons
            height: calc(#{$todolist-icon-size--m} - .8rem);
        }
    }

    ////////// PAGE CONTROLS //////////
    &__nav {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        height: $todolist-controls-height--m;
        padding: 0 $todolist-padding--h;
        font-size: $todolist-font-size--s;
    }

    &__nav-page-number {
        display: flex;
        align-items: center;
        padding: 0 .5rem;
        cursor: pointer;
        
        &--active {
            margin-bottom: -1px;
            border-bottom: 1px solid $base-font-color;
        }

        &-wrapper {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    &__nav-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;

        &-icon {
            height: $todolist-icon-size--nav;
            width: $todolist-icon-size--nav;
            fill: $base-font-color--inactive;

            &--active {
                fill: $base-font-color;
            }
        }
    }

    &__message {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        bottom: 0;
        height: $todolist-controls-height--m;
        width: 100%;
        padding: 0 $todolist-padding--h;

        opacity: 1;
        transition: opacity 2s;
        transition-delay: 2s;

        background: $msg-background-color;

        &--ok {
            color: $msg-text-color--ok;
        }

        &--err {
            color: $msg-text-color--err;
        }
    }
}
