header {
    position: fixed;
    display: flex;

    background: $component-background-color;
    padding: 0 $page-padding--m;
    width: 100%;
    height: $header-height--m;
    border-bottom: $thin-light-border;
}