<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
    <title>Nick Woodward</title>
</head>

<body>
    <!-- <header>
        header
    </header> -->

    <section class="hero">
        <div class="greeting">nick
            <!--injected by app.js-->
        </div>
        <div class="todolist-wrapper">
            <form class="input-wrapper" action="#" method="POST">
                <div class="form-control">
                    <label for="title" class="title-label">Title</label>
                    <input type="text" class="title-input" name="price">
                </div>
                <input type="submit" class="submit">
            </form>
            <ul class="todolist">
             <!--   <li class="todolist__item">
                    <div class="todolist__bulletpoint-wrapper">
                        <svg class="todolist__icon--bulletpoint todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-arrow-right"></use>
                        </svg>
                    </div>
                    <div class="todolist__item-heading">Item 1</div>
                    <div class="todolist__buttons-wrapper">
                        <svg class="todolist__edit-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-compose-outline"></use>
                        </svg>
                        <svg class="todolist__flag-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-flag-outline"></use>
                        </svg>
                        <svg class="todolist__complete-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-checkmark-outline"></use>
                        </svg>
                        <svg class="todolist__close-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-close-outline"></use>
                        </svg>
                    </div>
                </li> -->
            </ul>
        </div>
    </section>

</body>

</html>