<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700" rel="stylesheet">
    <title>Nick Woodward</title>
</head>

<body>
    <header>
        <div class="greeting">
            <!--injected by app.js-->
        </div>
        <div class="nav--header nav"> 
            <div class="nav--header__item nav--header__login">
                Login
            </div>
        </div>
    </header>
 
    <section class="hero">
        <div class="todolist">
            <form class="todolist__form" action="" method="">
                <div class="todolist__form-control">
                    <label for="title" class="todolist__title-label">Title</label>
                    <input type="text" class="todolist__title-input" name="title">
                </div>
                <input type="submit" class="todolist__submit">
            </form>
            <ul class="todolist__items">
                <!-- Dummy Item used to access item height in the JS before rendering -->
                <li class="todolist__item">
                    <div class="todolist__bulletpoint-wrapper">
                        <svg class="todolist__icon--bulletpoint todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-arrow-right"></use>
                        </svg>
                    </div>
                    <div class="todolist__item-heading">Item 1</div>
                    <div class="todolist__buttons-wrapper">
                        <svg class="todolist__edit-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-compose-outline"></use>
                        </svg>
                        <svg class="todolist__flag-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-flag-outline"></use>
                        </svg>
                        <svg class="todolist__complete-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-checkmark-outline"></use>
                        </svg>
                        <svg class="todolist__close-icon todolist__icon">
                            <use xlink:href="svg/spritesheet.svg#ios-close-outline"></use>
                        </svg>
                    </div>
                </li>
            </ul>
            <div class="todolist__nav">
                <!-- <div class="todolist__nav-arrow todolist__nav-arrow--left">
                    <svg class="todolist__nav-arrow-icon">
                        <use xlink:href="svg/spritesheet.svg#ios-arrow-left"></use>
                    </svg>
                </div>
                <div class="todolist__nav-page-numbers">1, 2, 3...</div>
                <div class="todolist__nav-arrow todolist__nav-arrow--right">
                    <svg class="todolist__nav-arrow-icon">
                        <use xlink:href="svg/spritesheet.svg#ios-arrow-right"></use>
                    </svg>
                </div> -->
            </div>
        </div>
    </section>

</body>

</html>